body {
    background-color: #F5F1ED;
}
/* SITE NAVBAR */
.navbar{
    font-size: 1rem;
    background-color: #DAD2BC;
}
.navbar-brand{
    font-size: 1.5rem;
}
/* LANDING PAGE */
.panel-site{
    background-color: #DAD2BC;

}
.panel-inner{
    background-color: #A99985;
    color: #fff;
    border: .5rem solid #C2B6A1;
    text-align: center;
}
/* FOOTER */
.footer{
    background-color: #C2B6A1;
}
.panel-socials{
    display: inline-block;
    height: 4rem;
    width: 8rem;
}
.socials{
    color: #EFEAE1;
    font-size: 2rem;
}
.socials:hover{
    color: #fff;
}
/* PROFILE */
.img-profile{
    width:12rem;
    background-color:#fff;
    border: .2rem solid #544F4F;
}
.img-profile-small{
    width:4rem;
    background-color:#fff;
    border: .125rem solid #544F4F;
}
.profile-header{
    display: inline;
    background-color: #A99985;
    color: #fff;
    border: .25rem solid #C2B6A1;
}
.profile-list{
    background-color: #F5F1ED;
    border-left: .5rem solid #544F4F;
    margin-bottom: .25rem;
}
/* PROFILE REVIEWS */
.review-header-panel{
    background-color: #F5F1ED;
    border-left: .5rem solid #544F4F;
}
.review-title{
    font-size:1.1rem;
}
.review-user{
    padding: .5rem;
    background-color: #F5F1ED;
    border-radius: .5rem;
}
.season-summer{
    border-radius: .5rem;
    padding: 0 .5rem;
    color:#000;
    display: inline;
    background-color: #f2db07;
}
.season-spring{
    border-radius: .5rem;
    padding: 0 .5rem;
    color:#fff;
    display: inline;
    background-color: #29a105;
}
.season-autumn{
    border-radius: .5rem;
    padding: 0 .5rem;
    color:#fff;
    display: inline;
    background-color: #c26004;
}
.season-winter{
    border-radius: .5rem;
    padding: 0 .5rem;
    color:#fff;
    display: inline;
    background-color: #0469c2;
}
/* DELETE REVIEW MODAL */
.delete-modal{
    background-color: #EFEAE1;
    border: .25rem solid #C2B6A1;
}
.delete-modal-header{
    background-color: #F5F1ED;
    border-left: .5rem solid #d9534f;
    color: #d9534f;
}








.black-outline{
    border: 1px solid black;
}
.reasons-to-register{
    font-size: large;
    line-height: 3;
    text-align: center;
}

.flash-authentification{
    height: 2rem;
}
.flash-authentification-large{
    height: 5rem;
}
.review-rating{
    margin-left: 1rem;
}

.btn-round{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.rounded-edges{
    border-radius: 5px;
}

.grey-outline{
    border: 1px solid #ddeaf0;
}
.filled-star{
    padding-top:.35rem;
    height: 4rem;
    font-size: 1.75rem;
    color: #f5b505;
}
.unfilled-star{
    padding-top:.35rem;
    height: 4rem;
    font-size: 1.75rem;
    color: #c2c2c2;
}

.filled-currency{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #f5b505;
    border: .125rem solid #ffd86e;
    color: #8a6501;
}
.unfilled-currency{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #e6e6e6;
    border: .125rem solid #ebebeb;
    color: #c2c2c2;
}
.filled-currency-small{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #f5b505;
    border: .125rem solid #ffd86e;
    color: #8a6501;
    font-size: .75rem;
}
.unfilled-currency-small{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #e6e6e6;
    border: .125rem solid #ebebeb;
    color: #c2c2c2;
    font-size: .75rem;
}

/* CHARTS PAGE */
.charts-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.chart-button-container{
    height: 4rem;
}
.chart-title{
    display: inline-block;
    width: 75%;
    height: 5rem;
    background-color: #A99985;
    color: #fff;
    border: .25rem solid #C2B6A1;
}
.charts-panel{
    height: 52rem;
    background-color: #E8E2D5;
}
.charts-panel-info{
    height: 4rem;
    background-color: #B3B5BD;
}
.charts-list{
    background-color: #F5F1ED;
    border-left: 1rem solid #544F4F;
    margin-bottom: .25rem;
}
.btn-charts{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #252323;
}
/* sticky footer with flexbox */
/* copied from: https://css-tricks.com/couple-takes-sticky-footer/ */
html, body{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}