body {
    background-color: #F5F1ED;
}
/* SITE NAVBAR */
.navbar{
    font-size: 1rem;
    background-color: #DAD2BC;
}
.navbar-brand{
    font-size: 1.5rem;
}
/* LANDING PAGE */
.panel-site{
    background-color: #DAD2BC;

}
.panel-inner{
    background-color: #A99985;
    color: #fff;
    border: .5rem solid #C2B6A1;
    text-align: center;
}
/* FOOTER */
.footer{
    background-color: #C2B6A1;
}
.panel-socials{
    display: inline-block;
    height: 4rem;
    width: 8rem;
}
.socials{
    color: #EFEAE1;
    font-size: 2rem;
}
.socials:hover{
    color: #fff;
}
/* PROFILE */
.img-profile{
    width:12rem;
}
.img-profile-small{
    width:5rem;
}

.black-outline{
    border: 1px solid black;
}
.reasons-to-register{
    font-size: large;
    line-height: 3;
    text-align: center;
}

.flash-authentification{
    height: 2rem;
}
.flash-authentification-large{
    height: 5rem;
}
.review-rating{
    margin-left: 1rem;
}

.btn-round{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.rounded-edges{
    border-radius: 5px;
}

.grey-outline{
    border: 1px solid #ddeaf0;
}
.filled-star{
    padding-top:.35rem;
    height: 4rem;
    font-size: 1.75rem;
    color: #f5b505;
}
.unfilled-star{
    padding-top:.35rem;
    height: 4rem;
    font-size: 1.75rem;
    color: #c2c2c2;
}

.filled-currency{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #f5b505;
    border: .125rem solid #ffd86e;
    color: #8a6501;
}
.unfilled-currency{
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    background-color: #e6e6e6;
    border: .125rem solid #ebebeb;
    color: #c2c2c2;
}
.filled-currency-small{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #f5b505;
    border: .125rem solid #ffd86e;
    color: #8a6501;
    font-size: .75rem;
}
.unfilled-currency-small{
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #e6e6e6;
    border: .125rem solid #ebebeb;
    color: #c2c2c2;
    font-size: .75rem;
}

/* CHARTS PAGE */
.charts-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.chart-button-container{
    height: 4rem;
}
.chart-title{
    height: 4rem;  
}
.charts-panel{
    height: 49rem;
    background-color: #E8E2D5;
}
.charts-panel-info{
    height: 4rem;
    background-color: #B3B5BD;

}
.btn-charts{
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
}

/* sticky footer with flexbox */
/* copied from: https://css-tricks.com/couple-takes-sticky-footer/ */
html, body{
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}