.black-outline{
    border: 1px solid black;
}
.reasons-to-register{
    font-size: large;
    line-height: 3;
    text-align: center;
}

.flash-authentification{
    height: 2rem;
}

.review-rating{
    margin-left: 1rem;
}

.btn-round{
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 50%;
}