{% extends "base.html" %}
{% block content %}


<div class="row justify-content-around align-items-center">
    <div class="col-12 col-md-5 black-outline text-center">
        <!-- PROFILE STATS -->
        <h2 class="mb-3">{{user.username}}'s Profile</h2>
        <div class="row justify-content-around align-items-center">
            <div class="col-12 col-lg-6">
                <!-- profile image provided via dicebears avatars HTTP-API: https://avatars.dicebear.com/ -->
                <img class="img-profile black-outline"
                    src="https://avatars.dicebear.com/api/avataaars/{{ user.username }}.svg" alt="user profile image">
            </div>
            <div class="col-12 col-lg-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Member since: {{ user.date_registered }}
                    </li>
                    <li class="list-group-item">
                        Number of reviews: #
                    </li>
                    <li class="list-group-item">
                        Traveller type: {{ traveller_type.title() }}
                    </li>
                </ul>
            </div>
        </div>
        <!-- review buttons -->
        <div class="d-flex justify-content-center">
            <a class="btn btn-primary my-2 me-2" href="{{ url_for('write_review') }}">Write New Review</a>
            <a class="btn btn-primary my-2" href="#">Go To Charts</a>
        </div>
    </div>
    <!-- USER REVIEWS -->
    <div class="col-12 col-md-7">
        <h2 class="mb-3 text-center">{{user.username}}'s Reviews</h2>
        {% if reviews|length == 0 %}
        <p class="text-center">No reviews to show</p>
        {% else %}
        {% for review in reviews %}
        <div class="card w-100 mb-4">
            <div class="card-body">
                <div class="row black-outline mb-2">
                    <div class="col-12 d-flex align-items-center">
                        <h5 class="card-title">
                            <strong>{{review.location.title()}}, {{review.country.title()}}</strong>
                        </h5>
                        <div class="d-flex ms-auto">
                            {% for i in range(0, review.rating) %}
                            <div class="filled-star">
                                <i class="fas fa-star"></i>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- review details -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Date visited: {{review.date_visited}}
                    </li>
                    <li class="list-group-item">
                        <p><q>{{ review.comment }}</q></p>
                    </li>
                </ul>

                <!-- review buttons -->
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="{{ url_for('read_review', review_id=review._id) }}">View</a>
                    <a class="btn btn-secondary ms-2" href="#">Edit</a>
                    <a class="btn btn-danger ms-2" href="#">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>



{% endblock %}